<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Search</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
</head>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h3 class="text-primary">Account Search
                        </h3>
                    </div>
                    <hr class="my-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-background">
                                    <label for="customerid">ID:</label>
                                    <input type="text" class="form-control" id="customerid" placeholder="Enter the ID">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-background">
                                    <label for="fname">First Name:</label>
                                    <input type="text" class="form-control" id="fname" placeholder="Enter First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-background">
                                    <label for="lname">Last Name:</label>
                                    <input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <form method="post">
                        <div class="row justify-content-center">
                            <button class="btn btn-primary btn-sm text-center mt-2" type="submit" name="submit" value="search">
                                Search
                            </button>
                            <button class="btn btn-primary btn-sm text-center mt-2" type="submit" name="submit" value="home">
                                Home
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>