<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make An External Transfer</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
</head>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h3 class="text-primary">External Transfer:
                        </h3>
                    </div>
                    <hr class="my-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="customerid">Customer ID:</label>
                                    <input type="text" class="form-control" id="customerid"
                                        placeholder="Enter Customer ID">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-background">
                                    <label for="fromAccount">From:</label>
                                    <select class="form-control" id="fromAccount">
                                        <option>My Checking</option>
                                        <option>My Savings</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-background">
                                    <label for="toAccount">To:</label>
                                    <select class="form-control" id="toAccount">
                                        <option>Their Checking</option>
                                        <option>Their Savings</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-background">
                                    <label for="amount">Amount:</label>
                                    <input type="text" class="form-control" id="amount" placeholder="Enter amount">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-background">
                                    <label for="memo">Memo:</label>
                                    <input type="text" class="form-control" id="memo" placeholder="Enter Memo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <form method="post">
                        <div class="text-center">
                            <button class="btn btn-primary text-center mt-2" type="submit">
                                Transfer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>